/* INDICE */
main {
    background-color: #ededed;
  }

.listaInicio{
  background: #e2e2e2;
  padding: 15px;
  border-radius: 50px;
}
  
.contenedor-inicio{
    
}
.contenedor-pasos{
  padding: 50px;    
}
  .slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .step-section {
    margin: 3%;
    padding: 3%;
  }
  
  .starred-course-section {
    text-align: center;
    margin: 3%;
  }
  
  .starred-course-title {
    text-align: center;
  }
  
  .payment-types-title {
    justify-content: center;
  }
  
  .payment-type-card {
    padding: 5%;
    width: 15%;
  }
  
  .payment-type-card-img {
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
  }
  .payment-types-section{
    display: block;
    text-align: center;
  }
  
/* CONTACTO */

main {
    margin: auto;
    background-color: #ededed;
  }
  
  h2 {
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  article {
    border-radius: 5px;
    width: 45%;
  }

  main input {
    width: 90%;
    margin-top: 30px;
    margin-left: 5px;
    padding: 5px;
  }
  main textarea {
    margin-top: 30px;
    width: 82%;
    padding: 25px;
    margin-left: 5px;
  }
  button {
    background-color: #0f469e;
    color: #fff;
    border-style: none;
    border-radius: 3px;
    padding: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
    align-self: flex-start;
    position: relative;
    left: 362px;
  }
  
  .sectionContacto {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
  }

  .sectionContacto article p{
    margin-top: 30px;
  }
  aside {
    text-align: center;
  }
  aside h2 {
    margin-bottom: 30px;
  }

  iframe{
    width:100%; 
    height:450px;
    border:0;
  }
/* COURSE-CARD */

.course-card {
    margin: 2%;
    width: 18.75em;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0.625em;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .course-card .course-img {
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
    border-radius: 0.313em;
  }
  
  .course-card .course-card-container {
    padding: 1%;
    height: 6.250em;
  }
  
  .course-card .course-card-container .course-card-date {
    width: 30%;
  }
  
  .course-card .course-card-container .course-card-date .course-card-date-number {
    display: block;
  }
  
  .course-card .course-card-content {
    padding: 5%;
    width: 70%;
    text-align: right;
  }
  
  .course-card .course-card-content .course-card-subtitle {
    display: block;
    margin-bottom: 10px;
  }
  
  .course-card-button {
    background-color: #28a745;
    color: white;
    padding: 5px 32px;
    text-decoration: none;
    border-radius: 10px;
  }

/* FLEX-PROPIEDADES */

.flex {
    display: flex;
  }
  
  .row {
    flex-direction: row;
  }
  
  .column {
    flex-direction: column;
  }
  
  .wrap {
    flex-wrap: wrap;
  }
  
  .no-wrap {
    flex-wrap: nowrap;
  }
  
  .center {
    justify-content: center;
  }
  .align{
    text-align: center;
  }
  .between {
    justify-content: space-between;
  }

  .around {
    justify-content: space-around;
  }
  
  .right {
    justify-content: flex-end;
  }
  
  .left {
    justify-content: flex-start;
  }
  
  .middle {
    align-content: center;
    align-items: center;
    align-self: center;
  }
  
  .grow {
    flex-grow: 3;
  }

  /* HEADER */
  .cool-link{
    color: #c7bfbf;
  }
  
  header {
    background-color: hsl(210, 10%, 24%, 0.9);
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  
  .brand {
    padding: 0.5%;
  }
  
  .buscador {
    width: 35%;
  }
  
  .search-box {
    height: 2em;
    width: 100%;
  }
  
  .cart-logo {
    position: relative;
    margin-right: 5%;
  }
  
  .cart-counter {
    position: absolute;
    right: 3%;
    top: 60%;
    padding: 5%;
    border-radius: 100%;
    background-color: indianred;
  }
  
  nav {
    font-size: 1em;
  }
  
  nav li {
    display: inline-block;
    padding: 5px 15px;
    font-weight: lighter;
    font-size: 20px;

  }

  .cool-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #e06905;
    transition: width .3s;
   }

   .cool-link:hover::after{
    width: 100%;
    transition: width .3s;
   }
  
  a {
    text-decoration: none;
    color: gray;
  }
  
  a:hover {
    color: #c7bfbf;
  }

  /* FOOTER */

  .footer{
    margin-top: 10px;
  }
  .footer-column {
    width: 250px;  
    margin: 1%;
    text-align: left;

  }
  
  .footer-container {
    height: 10%;
    background-color: #343a40;
    color: gray;
  }
  
  ul li {
   list-style: none;
  }
  
  
  /* RESET STYLES */

  * {
    margin: 0;
    padding: 0;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* DETALLE CURSO */

  .articleDetalle{
    width: 100%;
  }

  .articleDetalle .detalleCurso img{
    width: 30%;
    border-radius: 100px;
    float: left;
  }

  .articleDetalle .contenedorDetalle{
    margin-left: 12.5%;
    margin-right: auto;
    width: 20%;

  }

  .articleDetalle .contenedorDetalle p{
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .articleDetalle .detalleCurso{
    padding-top: 150px;
    display: flex;
    align-items: center;
  }

  .articleDocente{
    background:#4b5055;
    height: 200px;
    margin-top: 150px;
  }

  .articleDocente img{
    float: left;
    height: 100%;
  }
  
  .articleDocente .infoDocente{
    height: 100%;
    
  }

  .articleDocente .parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
  }
   /* ACORDEON DE DETALLE */

   .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }